body {
  
  /* background-image: url("https://images7.alphacoders.com/887/thumb-1920-887725.jpg"); */
background-size: cover;
background-color: white;
}
.App{
  text-align: center;
 
}
.forms {

 
  background-color: rgb(255, 255, 255);
  background-size: cover;
  padding: 10px;
  border-radius: 9px;
  padding: 15px;
}
.form {
position: relative;
left: 40%;
max-width: 230px;
  height: auto;
  background-color: rgb(192, 207, 213);
  background-size: cover;
  padding: 5px;
  
}
.butt{
  background-color: #2292c2; /* Green */
  border: none;
  color: white;
  padding: 5px 78px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.CancelButton{
  background-color: #515354; /* Green */
  border: none;
  color: white;
  padding: 5px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 3%;
}

input:placeholder-shown {
  border-color: rgb(106, 102, 102);
  background-color: rgb(213, 227, 233);
  font-weight: bold;
  color: black;
  /* padding: 10px; */
}

/* ::placeholder {
  color: rgb(0, 0, 0);
  background-color: thistle;
  font-size: 10px;
  text-transform: uppercase;
} */

label{
  font-weight: bold;
  list-style: none;
}
label:name{
 
  list-style: none;
}
.nav{
  justify-content: space-around;
background-color: rgb(155, 152, 155);
}

table {
  position: relative;
  left: 25%;
  border-collapse: collapse;
  width: 50%;
}

tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(217, 221, 146, 0.2);
}

tr td {
  border: 1px solid #eeeeee;
  text-align: left;
}
.buttonDelete{
  background-color: #ff0019; /* Green */
  border: none;
  color: white;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 10%;
  margin-left: 10px;
  font-weight: bold;
}
.buttonEdit{
  background-color: #0095ff; /* Green */
  border: none;
  color: white;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;

}